.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    color: #fff;
    /*  */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer span {
    font-weight: bold;
    color: var(--blue);
}